<div style="padding-top: 5px; height: 100%;">
        <dx-toolbar style="width: 100%; padding-left: 10px;">
            <dxi-item 
                widget="dxTextBox" 
                location="before"
                [options]="{
                    stylingMode: 'outlined',
                    placeholder: 'Search...',
                    showClearButton: true
                  }"
            ></dxi-item>
            <dxi-item  
                widget="dxButton" 
                location="before"
                [options]="{
                    icon: 'search'
                }"
            ></dxi-item>
            <dxi-item 
                widget="dxSelectBox" 
                location="after"
                [options]="{
                    stylingMode: 'outlined'
                  }"
            ></dxi-item>
            <dxi-item  
                widget="dxButton" 
                location="after"
                [options]="{
                    icon: 'user'
                  }"
            ></dxi-item>
            <dxi-item  
                widget="dxButton" 
                location="after"
                [options]="{
                    icon: 'expand'
                  }"
            ></dxi-item>
        </dx-toolbar>
        <dx-scroll-view>
            <dx-list 
            [dataSource]="dataSouce" 
            [indicateLoading]="true">
            <div *dxTemplate="let data of 'item'" style="font-size: 12px;">
                <div class="custom-item">
                    <div class="icon-container">
                    <div class="dx-icon dx-icon-{{data.icon}}" style="color: #03a9f4"></div>
                    <div class="vertical-line"></div>
                    </div>
                    <div class="content-container">
                        <div class="info-container">
                            <div class="title">{{ data.title }}</div>
                            <div class="meta-info">
                                <div class="date">{{ data.dateTime }}</div>
                                <div class="author">by {{ data.author }}</div>
                            </div>
                        </div>
                    <div class="description">{{ data.description }}</div>
                    <div class="horizontal-line"></div>
                    </div>
                </div>
            </div>
            </dx-list>
        </dx-scroll-view>
</div>