<div style="width: 100%; height: calc(100vh - 85px);" >
	<as-split direction="horizontal" gutterSize="5">
		<!--PRVI STUPAC-->
		<as-split-area [size]="25" [minSize]="25">
			<app-tickets-list></app-tickets-list>
		</as-split-area>
		<as-split-area [size]="75" *ngIf="!editTicket && !addTicket">
		</as-split-area>
		<!--DRUGI STUPAC-->
		<as-split-area [size]="25" [minSize]="25" *ngIf="editTicket || addTicket">
			<app-ticket-editor></app-ticket-editor>
		</as-split-area>
		<as-split-area [size]="50" *ngIf="addTicket">
		</as-split-area>
		<!--TRECI STUPAC-->
		<as-split-area [size]="25" *ngIf="editTicket">
			<as-split direction="vertical" gutterSize="5">
				<!--PRVA KOMPONENTA-->
				<as-split-area [size]="60">
					<app-interactions-list></app-interactions-list>
				</as-split-area>
				<!--DRUGA KOMPONENTA-->
				<as-split-area [size]="40">
					<div>
						<dx-tab-panel [selectedIndex]="0" [iconPosition]="'start'" stylingMode="secondary" class="communications">
							<dxi-item title="E-mail" icon="email">
								<app-email-editor></app-email-editor>
							</dxi-item>
							<dxi-item title="Phone" icon="tel">
								Phone
							</dxi-item>
							<dxi-item title="SMS" icon="comment">
								Slanje SMS-a....
							</dxi-item>
							<dxi-item title="Note" icon="description" badge="new">
								<app-internal-note-editor></app-internal-note-editor>
							</dxi-item>
						</dx-tab-panel>
					</div>
				</as-split-area>
			</as-split>
		</as-split-area>
		<!--CETVRTI STUPAC-->
		<as-split-area [size]="25" *ngIf="editTicket">
			<as-split direction="vertical" gutterSize="5">
				<!--PRVA KOMPONENTA-->
				<as-split-area [size]="50">
					<dx-tab-panel [selectedIndex]="0" [iconPosition]="'start'" stylingMode="secondary">
						<dxi-item title="Contact info" icon="info">
							<app-contact-info></app-contact-info>
						</dxi-item>
						<dxi-item title="Contact documents" icon="doc">
							<app-contact-documents></app-contact-documents>
						</dxi-item>
						<dxi-item title="Contact history"  icon="clock">
							<app-contact-history></app-contact-history>
						</dxi-item>
					</dx-tab-panel>
				</as-split-area>
				<!--DRUGA KOMPONENTA-->
				<as-split-area [size]="50">
					<dx-tab-panel [selectedIndex]="0" [iconPosition]="'start'" stylingMode="secondary">
						<dxi-item title="Canned responses" icon="tips">
							Canned responses lista...
						</dxi-item>
						<dxi-item title="Knowledge base" icon="bulletlist">
							Knowledge base lista...
						</dxi-item>
					</dx-tab-panel>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</div>

<!--
<div>
	<b>Filter: items, categories, search, order</b>
	<dx-tab-panel [selectedIndex]="0">
		<dxi-item title="Canned responses">
			Canned responses lista...
		</dxi-item>
		<dxi-item title="Knowledge base">
			Knowledge base lista...
		</dxi-item>
	</dx-tab-panel>
</div>
-->



