
.list-container{
    height: 100%;
}

.ticket-list-item-high {
    background-color: #721500;
}

.ticket-list-item-high-header {
    background-color: #9c170a;
}

.ticket-list-item-not-high-header {
    background-color: #171518;
}

.not-high-icon {
    color: #03a9f4;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
}

.itemBody {
    padding: 5px 10px;
}

.description {
    font-weight: 100;
    height: 47px;
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.name, .ticket{
    font-weight: 600;
}

.selected {
    border-left: 5px solid #03a9f4;
}

.selected-high {
    border-left: 5px solid #ccc;
}