<div style="height: calc(100vh - 131px);">
    <dx-toolbar style="padding: 0px 10px;">
        <dxi-item location="before">
            <dx-text-box
                [(value)]="sSearch"
                placeholder="Search..."
                [showClearButton]="true"
                stylingMode="outlined"
                width="300"
            ></dx-text-box>
        </dxi-item>
        <dxi-item location="before" >
            <dx-button 
                icon="search"
                (onClick)="searchTickets()"
                stylingMode="outlined"
                style="border-radius: 20px;"
            ></dx-button>
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            locateInMenu="always"
            [options]="{
                icon: 'user',
                text: 'Profile'
            }"
        >
        </dxi-item>
        <dxi-item 
            location="after" 
            widget="dxButton"
            locateInMenu="always"
            [options]="{
                icon: 'preferences',
                text: 'Settings'
                }"
        >
        </dxi-item>
        <dxi-item location="after" >
            <dx-button 
                icon="add" 
                text="Add new"
                [routerLink]="['/pages/tickets']" 
                [queryParams]="{action: 'add'}" 
                stylingMode="outlined"
                type="default"
                style="border-radius: 20px;"
            ></dx-button>
        </dxi-item>
        
    </dx-toolbar>
    <dx-list 
        [dataSource]="dataSource" 
        (onItemClick)="onItemClick($event)" 
        [indicateLoading]="true">
        <div *dxTemplate="let data of 'item'" [ngClass]="{'selected': data.id == itemSelected && data.priority != 'high', 'selected-high': data.id == itemSelected && data.priority == 'high'}">
            <div class="itemHeader" [ngClass]="{'ticket-list-item-high-header': data.priority == 'high', 'ticket-list-item-not-high-header': data.priority != 'high'}">
                <!--<div *ngIf="data.status == 'new'"></div>-->
                <div class="dx-icon-email" [ngClass]="{'not-high-icon': data.priority != 'high'}"></div>
                <div style="flex: 1; padding-left: 5px;">{{data.project.name}}</div>
                <div style="flex: 1;">{{data.ticket_status.label}}</div>
                <div style="flex: 1; text-transform: capitalize;">{{data.priority}}</div>
                <div>{{data.created | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="itemBody" [ngClass]="{'ticket-list-item-high': data.priority == 'high'}">
                <div class="name">{{data.contact.first_name}} {{data.contact.last_name}}</div>
                <div class="ticket">T{{data.id}} - {{data.subject}}</div>
                <div class="description">{{data.description}}</div>
            </div>
          </div>
    </dx-list>
</div>