<div>
    <dx-button icon="add" [routerLink]="['/pages/tickets']" [queryParams]="{action: 'add'}" style="float: inline-end;"></dx-button>
    <dx-list 
        [dataSource]="dataSource" 
        [searchEnabled]="true"
        searchMode="contains"
        (onItemClick)="onItemClick($event)" 
        [searchEditorOptions]="{
            stylingMode: 'outlined',
            width: '85%'
        }"
        [indicateLoading]="true">
        <div *dxTemplate="let data of 'item'">
            <div class="itemHeader" [ngClass]="{'ticket-list-item-high-header': data.priority == 'high', 'ticket-list-item-not-high-header': data.priority != 'high'}">
                <!--<div *ngIf="data.status == 'new'"></div>-->
                <div class="dx-icon-email" [ngClass]="{'not-high-icon': data.priority != 'high'}"></div>
                <div style="flex: 1; padding-left: 5px;">{{data.project.name}}</div>
                <div style="flex: 1;">{{data.ticket_status.label}}</div>
                <div style="flex: 1; text-transform: capitalize;">{{data.priority}}</div>
                <div>{{data.created | date:'dd.MM.yyyy HH:mm'}}</div>
            </div>
            <div class="itemBody" [ngClass]="{'ticket-list-item-high': data.priority == 'high'}">
                <div class="name">{{data.contact.first_name}} {{data.contact.last_name}}</div>
                <div class="ticket">T{{data.id}} - {{data.subject}}</div>
                <div class="description">{{data.description}}</div>
            </div>
          </div>
    </dx-list>
</div>