<div class="content-block">
    <div class="dashboard-item dx-card" style="background-color: #63a599;">
        <div class="dashboard-title">{{formatMessage('MyTickets')}}</div>
        <div class="dashboard-content">
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('New')}}</div>
                <div class="dashboard-number">14</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('InProgress')}}</div>
                <div class="dashboard-number">32</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('Waiting')}}</div>
                <div class="dashboard-number">9</div>
            </div>
        </div>
    </div>
    <div class="dashboard-item dx-card" style="background-color: #5890d6;">
        <div class="dashboard-title">{{formatMessage('AllTickets')}}</div>
        <div class="dashboard-content">
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('New')}}</div>
                <div class="dashboard-number">33</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('InProgress')}}</div>
                <div class="dashboard-number">51</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('Waiting')}}</div>
                <div class="dashboard-number">22</div>
            </div>
        </div>
    </div>
    <div class="dashboard-item dx-card" style="background-color: #6e6085;">
        <div class="dashboard-title">{{formatMessage('SolvedTickets')}}</div>
        <div class="dashboard-content">
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('Today')}}</div>
                <div class="dashboard-number">8</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('ThisWeek')}}</div>
                <div class="dashboard-number">32</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('ThisMonth')}}</div>
                <div class="dashboard-number">294</div>
            </div>
        </div>
    </div>
    <div class="dashboard-item dx-card" style="background-color: #d15e5a;">
        <div class="dashboard-title">{{formatMessage('NewInteractions')}} <span class="dashboard-call-queue">{{formatMessage('CallsInQueue')}} <span class="dashboard-number" style="margin-left: 10px;">4</span></span></div>
        <div class="dashboard-content">
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('EMail')}}</div>
                <div class="dashboard-number">2</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('MissedCalls')}}</div>
                <div class="dashboard-number">0</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('WhatsApp')}}</div>
                <div class="dashboard-number">1</div>
            </div>
            <div class="vertical-line"></div>
            <div class="dashboard-column">
                <div class="dashboard-subtitle">{{formatMessage('Viber')}}</div>
                <div class="dashboard-number">3</div>
            </div>
        </div>
    </div>
    
    <!-- Large div spanning the rest of the page -->
    <div class="large-div dx-card">
        Content that spans the rest of the page goes here
    </div>
</div>
